body {
    width:100vh ;
}
.box {
    display: grid;
    margin-top: 50px;
    margin-left: 520px;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
}
.box div {
    background-color: grey;
    border-radius: 5px;
}

div:nth-last-child(-n+4) {
    background: blue;
}
div:nth-child(4n+3) {
    background: red;
}


.button {
    margin: 80px 0 0 450px;
    width: 501px;
    height: 92px;
    display: flex;
    justify-content: center;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}



button::before {
    content:" ";
    height: 8px;
    width: 200px;
    position: absolute;
    margin-right: 848px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4 ;
      }
button::after {
    content:" ";
    height: 8px;
    width: 200px;
    position: absolute;
    margin-left: 845px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4 ;
      }